@use "./utilities/colors" as c;
@use "./utilities/components";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Sora", sans-serif;
	font-size: 1.6rem;
	background-color: c.$page-color;
}

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 120px;
}

.logo {
	text-decoration: none;
	color: c.$pure-white;
	font-size: 3.2rem;
	margin: 20px;
	font-weight: 600;
}

//NAV

.nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: c.$page-color;
	transform: translateX(100%);
	transition: all 0.5s;
	z-index: 100;
	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item {
		font-size: 4rem;
		margin-top: 40px;
		text-decoration: none;
		color: c.$main-color;
		&:hover {
			color: c.$secondary-color;
		}
		&--active {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 260px;
			height: 65px;
			margin-top: 100px;
			text-decoration: none;
			font-size: 1.6rem;
			font-weight: bold;
			color: c.$dark;
			background-color: c.$main-color;
			border-radius: 8px;
			animation: appear 2s 0.5s both;
		}
	}
}

.active {
	transform: translateX(0);
}

//HEADER
.header {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		),
		url(/dist/img/header.png);
	background-size: cover;
	background-position: 85%;
	text-align: center;
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		padding: 0 1em;
	}
	&__text {
		color: c.$pure-white;
		font-size: 3.6rem;
		font-weight: 600;
		text-transform: uppercase;
		animation: appear 2s;
		&--colorized {
			color: c.$main-color;
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

//MAIN
//ABOUTUS
.about-us {
	&__textbox {
		height: 300px;
		width: 100vw;
	}
	&__text {
		color: c.$pure-white;
		line-height: 25px;
		font-size: 1.8rem;
		margin: 1em 1em;
	}
	&__link {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		&::after {
			content: "";
			display: block;
			width: 70%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: c.$main-color;
			transition: width 0.3s;
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__box {
		background-color: c.$pure-white;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		width: 100%;
		padding: 1em;
		&--desktop {
			display: none;
		}
	}
}

//MEDIA

@media (max-width: 300px) {
	.nav {
		&__item {
			&--active {
				width: 200px;
				height: 50px;
			}
		}
	}
	.header {
		&__text {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__text {
			font-size: 4.6rem;
		}
	}
}

@media (min-width: 992px) {
	.burger {
		display: none;
	}
	//NAV
	.nav {
		background: none;
		flex-direction: row;
		justify-content: space-around;
		height: 120px;
		width: 40vw;
		right: 2em;
		transform: translateX(0);
		&__items {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
		}
		&__item {
			margin-top: 0;
			font-size: 2rem;
			color: c.$pure-white;
			&:hover {
				color: c.$main-color;
			}
			&--active {
				margin-top: 60px;
				color: c.$dark;
				&:hover {
					background-color: c.$secondary-color;
				}
			}
		}
	}
	//HEADER
	.header {
		text-align: left;
		&__title {
			align-items: flex-start;
			margin-left: 40px;
		}
		&__text {
			width: 1000px;
			line-height: 70px;
			padding: 0;
		}
	}
}
