@import "../../global.scss";

.counter {
	@include flexCenter(column);
	gap: 4em;
	padding: 3em 0;
	background: url("../../assets/counter.webp") rgba(0, 0, 0, 0.8);
	background-blend-mode: darken;
	background-size: cover;
	background-position: center;

	&__box {
		@include flexCenter(column);
	}

	&__number {
		font-size: 7rem;
		color: $main;
		font-weight: 500;
	}

	&__text {
		color: $white;
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 1px;
	}
}

@media (min-width: 778px) {
	.counter {
		flex-direction: row;
		gap: 3em;
		padding: 8em 0.5em;
		background-attachment: fixed;

		&__number {
			font-size: 8rem;
		}
	}
}

@media (min-width: 996px) {
	.counter {
		gap: 5em;
	}
}
