@import "../../global.scss";

.hero {
	&__img {
		height: 50vh;
		background: url("../../assets/hero.webp") rgba(0, 0, 0, 0.8);
		background-blend-mode: darken;
		background-size: cover;
		background-position: center;
	}

	&__title {
		@include flexCenter(row);
		height: 100%;
		color: rgb(66, 66, 66);
		font-size: 5rem;
		font-style: italic;
	}

	&__img-blog {
		height: 50vh;
		background: url("../../assets/hero_blog.webp") rgba(0, 0, 0, 0.8);
		background-blend-mode: darken;
		background-size: cover;
		background-position: top;
	}
}
