$page-color: rgba(49, 52, 55, 1);
$main-color: rgba(188, 253, 3, 1);
$secondary-color: rgba(120, 130, 1, 1);
$dark: rgba(20, 27, 41, 1);
$yellow-dark: rgba(45, 60, 0, 1);
$pure-white: rgba(255, 255, 255, 1);
