@use "./colors" as c;

.burger {
	position: absolute;
	width: 40px;
	right: 0;
	margin: 20px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	z-index: 1000;
	&__lines {
		height: 4px;
		margin: 8px 0;
		background-color: c.$main-color;
		transition: width 0.3s;
		&-line2 {
			width: 30px;
		}
		&-line3 {
			width: 20px;
		}
	}
	&:hover {
		.burger__lines {
			width: 40px;
		}
	}
}

.section {
	width: 100vw;
	&__heading {
		color: c.$main-color;
		text-align: center;
		padding: 0.5em 0;
		font-size: 4rem;
	}
}
