@import "../../global.scss";

.fixed {
	height: 60vh;
	background: url("../../assets/fitnessClass.webp") rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: cover;
	background-position: top;

	&__secondary {
		height: 75vh;
		background: url("../../assets/blog_big1.webp") rgba(0, 0, 0, 0.6);
		background-blend-mode: darken;
		background-size: cover;
		background-position: top;
	}

	&__content {
		@include flexCenter(column);
		height: 100%;
		color: $white;
		gap: 1em;
	}

	&__text {
		font-size: 2rem;
		font-style: italic;
	}

	&__title {
		max-width: 1100px;
		padding: 0 0.5em;
		font-size: 4rem;
		font-style: italic;
		text-align: center;
		line-height: 1.3;
	}

	&__link {
		padding: 0.7em 2.4em;
		background-color: $main;
		border-radius: 10px;
		color: $white;
	}
}

@media (min-width: 796px) {
	.fixed {
		background-attachment: fixed;

		&__secondary {
			background-attachment: fixed;
		}
	}
}

@media (min-width: 996px) {
	.fixed {
		height: 70vh;

		&__link {
			border: 1px solid transparent;
			transition: border 0.3s, background-color 0.3s;

			&:hover {
				background-color: #e4e3e117;
				border: 1px solid white;
			}
		}

		&__text {
			font-size: 3rem;
		}

		&__title {
			font-size: 8rem;
		}
	}
}
