@import "../../global.scss";

.accordion {
	@include flexCenter(column);
	gap: 2em;
	padding: 3em 1em;

	&__img {
		max-width: 500px;
		width: 100%;
		height: 100%;
	}

	&__title {
		margin-bottom: 1.5em;
		text-align: center;
		font-size: 4rem;
		font-style: italic;
	}

	&__item {
		max-width: 500px;
		margin-bottom: 10px;
		overflow: hidden;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		cursor: pointer;
		background-color: #d8d8d8cc;
	}

	&__answer {
		padding: 10px;
		background-color: rgba(253, 253, 253, 0.678);
	}
}

@media (min-width: 1024px) {
	.accordion {
		flex-direction: row;
		padding: 5em 0.5em;

		&__box {
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}
	}
}
