@import "../../global.scss";

.message {
	@include flexCenter(column);
	gap: 1em;
	padding: 3em 1em 2em;
	background-color: rgb(230, 229, 228);

	&__title {
		font-size: 4rem;
		text-align: center;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 0.5em;
		margin-top: 0.5em;
		padding: 0.8em 1.8em;
		background-color: $main;
		color: $white;
		border-radius: 5px;
	}

	&__icon {
		font-size: 2.2rem;
	}
}

@media (min-width: 768px) {
	.message {
		&__link {
			transition: background-color 0.3s ease;
			&:hover {
				background-color: $dark;
			}
		}
	}
}
